{# Акции и реклама #}
<div class="banner swiper">
	<div class="swiper-wrapper">
		{% for banner in post.meta('mainpage_actions') %}
			{% if banner.mainpage_action_link %}
				<a class="swiper-slide" href="{{ banner.mainpage_action_link }}" target="_blank">
			{% else %}
				<div class="swiper-slide">
			{% endif %}

				<div class="banner-item">
					<img src="{{ Image(banner.mainpage_action_image).src }}" alt="{{ Image(banner.mainpage_action_image).alt }}" />
				</div>

			{% if banner.mainpage_action_link %}
				</a>
			{% else %}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="swiper-pagination"></div>
</div>
