
.gallery {
    max-height: 1000px;
    opacity: 1;
    overflow: unset;
    transition: max-height 0.3s, opacity 0.3s 0.3s;
}
.gallery.hidden {
    margin: 0!important;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
.gallery-link > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.gallery + .btn_purple {
    margin-top: 0;
}