
.gallery {
    max-height: 1000px;
    opacity: 1;
    overflow: unset;
    transition: max-height 0.3s, opacity 0.3s 0.3s;
}

.gallery.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}