{% extends "layouts/base-with-sidebar.twig" %}

{% block content %}
	{{ post.content }}

	<div class="internet-bonus">
		При Интернет-заказе действует система сезонных скидок + бонусная карта !
	</div>
{% endblock %}
